[aorta]
dbfile = aorta.sqlite

[twitch]
username = your_bot_twitch_login
; you can obtain your OAuth key from below URL
; http://www.twitchapps.com/tmi/
oauth = your_oauth_key
channel = #your_twitch_channel
server = irc.chat.twitch.tv
port = 6667
owner = your_twitch_login

[revlo]
; you can obtain Revlo API key from below URL
; https://www.revlo.co/settings/api
api_key = zxcasdqwe123

[email]
login = your@email.login
passwd = your.email.p@ssw0rd
smtp = smtp.email.server.com
to = recipent@address.com
subject_prefix = [Aorta Twitch Bot]
